.drag-drop-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.boxes-container {
  display: flex;
  gap: 10px;
}

.droppable-box {
  width: 140px;
  height: 100px;
  border: 1px dashed #ccc;
  background-color: #fec8c9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.draggable-item {
  margin: 8px;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remove-button {
  margin-left: 8px;
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.categoryMainDiv {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 20px 20px;
  background-color: white;
  margin-bottom: 30px;
}

.items-container {
  display: flex;
  gap: 90px;
}
.CategoryDiv {
  display: flex;
  gap: 75px;
}

.faceColor {
  background-color: #fec8c9;
}

.yellowColor {
  background-color: #feee83;
}
.ans1 {
  background-color: transparent;
}

.ans2 {
  background-color: transparent;
}
.cat {
  padding: 10px 25px;
  border-radius: 10px;
}
